*{
	margin: 0 auto;
	font: sans-serif;
}

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

header {
	background-color: #C0C0C0;
	height: 100px;
	border-radius: 20px;
}
header h1 {
	float: left;
	position: absolute;
	margin-top: 30px;
	margin-left: 10px;
	width: 70%;
}
.main {
	display: table;
	-webkit-column-count: 2; /*Chrome, Safari, Opera?????*/
	-moz-column-count: 2; /*Firefox?????*/
	column-count: 2; /*cantidad de columnas*/
	column-gap: 40px; /*espacio entre columnas*/
	-webkit-column-gap: 40px; /*Firefox?????*/
	margin-top: 10px;
}
.menu {
	display: table-cell;
	background-color: #DDDDDD;
	border-radius: 15px;
	width: 150px;


}
.menu ul {
	list-style: none;
	display: block;
	padding-left: 15px;
	padding-right: 15px;


}
.menu ul li {
	width: 140px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C8C8C8;
	border-radius: 10px;
	margin-top: 5px;
	
}
.menu ul li a {	
	text-decoration: none;
	color: black;	
}
.contenido {
	display: table-cell;
	background-color: #DDDDDD;
	border-radius: 15px;
	padding-left: 10px;

}
.horizontales {
	
	margin-left: 20px;
	margin-right: 20px;
}
.presentacion {
	background-color: #C8C8C8;
	border-radius: 10px;
	margin-top: 20px;
	padding: 15px;
}
.proceso {
	background-color: #C8C8C8;
	border-radius: 10px;
	margin-top: 15px;
	padding: 15px;
}
.titulo {
	text-align: center;
	padding-bottom: 15px;
	margin-top: 15px;
}
.texto {
	margin: 10px;
}
.foto img {
	display: block;
	max-width: 360px; /*Maximo ancho*/
	max-height: 300px; /*Maximo alto*/
	width: 50%;
	height: 60%;
	padding: 2px;
	border: double;
	margin-top: 15px;
	margin-bottom: 15px;
}
.escalera img {
	display: block;
	max-width: 360px; /*Maximo ancho*/
	max-height: 300px; /*Maximo alto*/
	width: 50%;
	height: 60%;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.laboral img {
	display: block;
	max-width: 360px; /*Maximo ancho*/
	max-height: 300px; /*Maximo alto*/
	width: 50%;
	height: 60%;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.contacto img {
	display: block;
	max-width: 360px; /*Maximo ancho*/
	max-height: 300px; /*Maximo alto*/
	width: 50%;
	height: 60%;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.diseno img {
	max-width: 120px; /*Maximo ancho*/
	max-height: 100px; /*Maximo alto*/
	float: right;
	width: 25%;
	margin-right: 40px;
	margin-top: 25px;
}
.cuadros article {
	display: inline-table;
	width: 40%; /*Ancho article*/
	height: 440px;
	margin-left: 5%;/*Magen izquierda*/
	margin-bottom: 10px; /*Margen inferior*/
	margin-top: 10px; /*Margen superior*/
	background-color: #C8C8C8;
	border-radius: 10px;
}
footer {
	margin-top: 10px;
	margin-bottom: 15px;
	background-color: #C0C0C0;
	border-radius: 15px;
	height: 60px; 
	text-align: center;

}
footer ul {
	display: inline-block;
	margin-top: 15px;
}
footer ul li {
	display: inline-block;
}
footer ul li a {
	text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.top-menu {
		display: none;
	}
	h1 {
		font-size: 25px;
	}
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
	
	.cuadros article {
		display: block;
		width: 80%;
	}
	h1 {
		font-size: 17px;
	}
	/*Menu*/
	ul.top-menu li:not(:first-child) {display: none;} /*esconde los li del menu original menos el primero*/
	ul.top-menu li.icon {/*hacemos que el boton aparezca y lo enviamos a la derecha*/
	    float: left;
	    display: inline-block;
	    }
	ul.top-menu.responsive{ /*cuando se agregue la clase responsive al menu, si posicionamiento será relativo*/
	    position: relative;
	    }

	ul.top-menu.responsive li {/*cuando se agregue la clase responsive al menu los  li ya no flotaran encaso de hacerlo y se mostraran en linea*/
	    float: none;
	    display: inline;
		margin: auto;

	}
	ul.top-menu.responsive li.icon { /*modificamos la ubicacion del boton a la derecha  superior*/
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	ul.top-menu.responsive li a{ /* Hacemos que los enlaces <a> se muestren en bloque y se alineen a la izquierda*/
	    display: block;
	    text-align: center;
    }	
}
    
@media only screen and (max-width: 320px) {
	.cuadros article {
		display: block;
		width: 80%;
	}
	.menu {
		display: none;
	}
	h1 {
		display: none;
	}
	.diseno img {
		float: left;
		margin-left: 100px;
	}
}
